body{
    font-family: 'Montserrat', sans-serif;
}
.navbar-nav > li{
    padding-left:4px;
    padding-right:2px;

    font-style:inherit;
    
}
.navbar-brand {
    color:white!important;
    padding-left: 2%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 100px;
    font-style:inherit;
}
#title{
    background-color:#1778f2;
    color:#fff;
    padding: 1%;
    padding-bottom: 0.5%;
    
}
.navbar-nav a{
    color: white!important;
  }
  .dropdown-menu a{
    color: grey !important;
  }

.download-button{
    margin: 0% 3% 5% 0 ; 
    
}

.iphone-img{
    width: 60%;
    position: relative;
    right: 20%;
    left:20%;
}
h1{
    padding-top:20%;
    padding-bottom:10%;
    padding-left: 20%;
    font-size: xx-large;
}
.rotate-25 {
    transform: rotate(-5deg);
  }
  #pricing{
    padding:100px;
  }
  .pri-col{
    padding:3% 2%;
    text-align: center;
  }
  #footer {
    background-color:#1778f2;
    color:#fff;
    padding: 1%;
    padding-bottom: 0.5%;
    
}
.last{
    padding-top:2%;
    padding-bottom:10%;
    padding-left: 30%;
    font-size: xx-large;
}
.pic{
    margin-left: 425px;
}
 
 
